# Part I: Lists and Loops

## 1) Create a list with the names of every planet in the solar system (in order)

In [62]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## 2) Have Python tell you how many planets there are by examining your list

In [2]:
print(len(planets))

8

## 3) Use slicing to display the first four planets (the rocky planets)

In [63]:
print(planets[:4])

['Mercury', 'Venus', 'Earth', 'Mars']

## 4) Iterate through your planets and print the planet name only if it has an s at the end

In [65]:
for i in range(len(planets)):
   if planets[i][-1] == 's':
       print(planets[i])

Venus
Mars
Uranus

# Part II: Dictionaries

## 1) Now create a dictionary that maps each planet name to its mass

In [68]:
planets_mass = {
    'Mercury': 0.330e24, 
    'Venus': 4.87e24, 
    'Earth': 5.97e24, 
    'Mars': 0.642e24, 
    'Jupiter': 1898e24, 
    'Saturn': 568e24, 
    'Uranus': 86.8e24, 
    'Neptune': 102e24}

## 2) Use your dictionary to look up Earth’s mass

In [69]:
earth_mass = planets_mass['Earth']
print('The mass of earth is ' + str(earth_mass) + ' kg.')

The mass of earth is 5.97e+24 kg.

## 3) Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg

In [72]:
planets_greater_than_100 = []

for planet in planets_mass:
    if planets_mass[planet] > 100e24:
        planets_greater_than_100.append(planet)

print(f'A list of planets whose mast is greater than 100 x 10^24 kg: {planets_greater_than_100}')

A list of planets whose mast is greater than 100 x 10^24 kg: ['Jupiter', 'Saturn', 'Neptune']

## 4) Now add pluto to your dictionary

In [73]:
planets_mass['Pluto'] = 0.0130e24

print(planets_mass)

{'Mercury': 3.3e+23, 'Venus': 4.87e+24, 'Earth': 5.97e+24, 'Mars': 6.42e+23, 'Jupiter': 1.898e+27, 'Saturn': 5.68e+26, 'Uranus': 8.68e+25, 'Neptune': 1.02e+26, 'Pluto': 1.3e+22}

# Part III: Functions

## 1) Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [77]:
def kelvin_to_celsius(kelvin_temp):
    celsius_temp = kelvin_temp - 273.15  
    return celsius_temp

def celsius_to_kelvin(celsius_temp):
    kelvin_temp = celsius_temp + 273.15  
    return kelvin_temp

## 2) Write a function to convert temperature to fahrenheit
## Include an optional keyword argument to specify whether the input is in celcius or kelvin.

In [117]:
def temp_to_fahrenheit(temp, kelvin=True):
    if kelvin:
        celsius_temp = kelvin_to_celsius(temp)
        fahrenheit_temp = (celsius_temp * 9/5) + 32
    else:
        fahrenheit_temp = (temp * 9/5) + 32  
    return fahrenheit_temp

## 3) Check that the outputs are sensible by trying a few examples

In [116]:
# Example 1: Convert Kelvin to Celsius
kelvin_temperature = 300
celsius_temperature = kelvin_to_celsius(kelvin_temperature)
print(f'{kelvin_temperature} K is {celsius_temperature:.2f} C.')

# Example 2: Convert Celsius to Kelvin
celsius_temperature = 300
kelvin_temperature = celsius_to_kelvin(celsius_temperature)
print(f'{celsius_temperature} C is {kelvin_temperature:.2f} K.')

# Example 3: Convert Kelvin to Fahrenheit
kelvin_temperature = 300
fahrenheit_temp = temp_to_fahrenheit(kelvin_temperature)
print(f'{kelvin_temperature} K is {fahrenheit_temp_celsius:.2f} F')

# Example 4: Convert Celsius to Fahrenheit
celsius_temperature = 300
fahrenheit_temp = temp_to_fahrenheit(celsius_temperature, kelvin=False)
print(f'{celsius_temperature} C is {fahrenheit_temp_kelvin:.2f} F')

300 K is 26.85 C.
300 C is 573.15 K.
300 K is 80.33 F
300 C is 572.00 F

## 4) Now write a function that converts from farenheit

In [84]:
def fahrenheit_to_temp(fahrenheit_temp, kelvin=True):
    if kelvin:
        celsius_temp = (fahrenheit_temp - 32) * 5/9
        kelvin_temp = celsius_to_kelvin(celsius_temp)
        return kelvin_temp
    else:
        celsius_temp = (fahrenheit_temp - 32) * 5/9
        return celsius_temp

In [115]:
temperature_fahrenheit = 80  # Example temperature in Fahrenheit

# Example1: Convert Fahrenheit to Celsius
celsius_temp = fahrenheit_to_temp(temperature_fahrenheit, kelvin=False)
print(f'{temperature_fahrenheit} F is {celsius_temp:.2f} C')

# Example2: Convert Fahrenheit to Kelvin
kelvin_temp = fahrenheit_to_temp(temperature_fahrenheit)
print(f'{temperature_fahrenheit} F is {kelvin_temp:.2f} K')

80 F is 26.67 C
80 F is 299.82 K

## 5) Write a function that takes two arguments (feet and inches) and returns height in meters

In [88]:
def feet_and_inches_to_meters(feet, inches):
    total_inches = (feet * 12) + inches
    meters = total_inches * 0.0254
    return meters

In [114]:
# Example 
feet = 8
inches = 6
meters = feet_and_inches_to_meters(feet, inches)
print(f'{feet} feet and {inches} inches is {meters:.2f} meters.')

8 feet and 6 inches is 2.59 meters.

## 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [102]:
def meters_to_feet_and_inches(meters):
    total_inches = meters / 0.0254
    feet = total_inches // 12
    inches = total_inches % 12
    return feet, inches

In [103]:
# Example
feet, inches = meters_to_feet_and_inches(5)
print(f'{meters} meters is {feet:.2f} feet and {inches:.2f} inches.')

1.3081 meters is 16.00 feet and 4.85 inches.

## 7) Verify that the “round trip” conversion from and back to meters is consistent

In [111]:
# Example 1
height_meters_1 = 8
feet, inches = meters_to_feet_and_inches(height_meters_1)
converted_height_meters_1 = feet_and_inches_to_meters(feet, inches)
print("Height 1 (meters):", height_meters_1)
print("Height 1 converted and back (meters):", converted_height_meters_1)

Height 1 (meters): 8
Height 1 converted and back (meters): 8.0

In [112]:
# Example 2
height_meters_2 = 8.8
feet, inches = meters_to_feet_and_inches(height_meters_2)
converted_height_meters_2 = feet_and_inches_to_meters(feet, inches)
print("Height 2 (meters):", height_meters_2)
print("Height 2 converted and back (meters):", converted_height_meters_2)

Height 2 (meters): 8.8
Height 2 converted and back (meters): 8.8

In [113]:
# Example 3
height_meters_3 = 8.88
feet, inches = meters_to_feet_and_inches(height_meters_3)
converted_height_meters_3 = feet_and_inches_to_meters(feet, inches)
print("Height 3 (meters):", height_meters_3)
print("Height 3 converted and back (meters):", converted_height_meters_3)

Height 3 (meters): 8.88
Height 3 converted and back (meters): 8.88